<div class="container">
	<virtual-scroller #scroll class="scroller" [items]="items">
		<mat-card *ngFor="let item of scroll.viewPortItems" class="card" >
			<mat-card-header class="header">
				<mat-card-title class="title" (click)="navigate(item.uri)" >{{ item.name }}</mat-card-title>
			</mat-card-header>
			<mat-icon mat-card-image class="icon" svgIcon="book-music" ></mat-icon>
			<mat-card-actions class="actions" >
				<button mat-fab color="primary" class="play" (click)="play(item.uri)" ><mat-icon svgIcon="play" ></mat-icon></button>
				<button mat-icon-button class="menu" [matMenuTriggerFor]="itemMenu" ><mat-icon svgIcon="dots-vertical" ></mat-icon></button>
				<mat-menu #itemMenu="matMenu" >
					<button mat-menu-item (click)="queue(item.uri)" >Add to queue</button>
					<button mat-menu-item [matMenuTriggerFor]="playlistMenu" >Add to playlist</button>
					<button mat-menu-item (click)="remove(item.uri)" >Remove</button>
				</mat-menu>
				<mat-menu #playlistMenu="matMenu" >
					<button mat-menu-item (click)="new_playlist(item.uri)" >New playlist</button>
					<button mat-menu-item *ngFor="let playlist of pls.playlists" (click)="add_playlist(playlist.uri, item.uri)" >{{ playlist.name }}</button>
				</mat-menu>
			</mat-card-actions>
		</mat-card>
	</virtual-scroller>
</div>
