<StackLayout>
  <Label text="PlaylistInputComponent works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<form (submit)="onSubmit(data.name)">
	<h4 mat-dialog-title>{{ data.title }}</h4>
	<div mat-dialog-content>
		<mat-form-field>
			<mat-label>{{ data.label }}</mat-label>
			<input matInput [(ngModel)]="data.name" name="playlist-name">
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button mat-button mat-dialog-close>Cancel</button>
		<button mat-button type="submit">{{ data.action }}</button>
	</div>
</form>

-->