<virtual-scroller #scroll [items]="entries" class="virtual-scroller">
	<ng-container *ngFor="let entry of scroll.viewPortItems">
		<mat-card *ngIf="entry.isDirectory()">
			<mat-card-header (click)="navigate(entry.path)">
				<mat-card-title class="is-truncated">{{ basename(entry.path) }}</mat-card-title>
			</mat-card-header>
			<div (click)="navigate(entry.path)" class="entry-image directory"></div>
			<mat-card-actions>
				<a mat-mini-fab color="accent" class="play-button" (click)="play(entry.path, false)"><mat-icon fontIcon="mdi-play"></mat-icon></a>
				<a mat-icon-button class="menu-button" [matMenuTriggerFor]="directoryMenu"><mat-icon fontIcon="mdi-dots-vertical"></mat-icon></a>
			</mat-card-actions>
			<mat-menu #directoryMenu="matMenu" class="item-menu" xPosition="before" yPosition="above" overlapTrigger="true">
				<a mat-menu-item (click)="add(entry.path)">
					<mat-icon fontIcon="mdi-plus"></mat-icon>
					<span class="item-menu-label">Add to Queue</span>
				</a>
				<a mat-menu-item [matMenuTriggerFor]="dirPlaylistsMenu">
					<mat-icon fontIcon="mdi-playlist-plus"></mat-icon>
					<span class="item-menu-label">Add to Playlist</span>
				</a>
			</mat-menu>
			<mat-menu #dirPlaylistsMenu="matMenu" class="item-menu">
				<a mat-menu-item (click)="openNewPlaylistDialog(entry.path)">
					<mat-icon fontIcon="mdi-playlist-edit"></mat-icon>
					<span class="item-menu-label">New Playlist</span>
				</a>
				<a mat-menu-item *ngFor="let playlist of playlists" (click)="addPlaylist(entry.path, playlist.name)">
					<mat-icon fontIcon="mdi-playlist-music"></mat-icon>
					<span class="item-menu-label">{{ playlist.name }}</span>
				</a>
			</mat-menu>
		</mat-card>
	</ng-container>
	<ng-container *ngFor="let entry of scroll.viewPortItems">
		<mat-card *ngIf="entry.isSong()">
			<mat-card-header (click)="play(entry.path, true)">
				<mat-card-title class="is-truncated">{{ basename(entry.path) }}</mat-card-title>
			</mat-card-header>
			<div class="entry-image song" (click)="play(entry.path, true)"></div>
			<mat-card-actions>
				<a mat-mini-fab color="accent" class="play-button" (click)="play(entry.path, true)"><mat-icon fontIcon="mdi-play"></mat-icon></a>
				<a mat-icon-button class="menu-button" [matMenuTriggerFor]="songMenu"><mat-icon fontIcon="mdi-dots-vertical"></mat-icon></a>
			</mat-card-actions>
			<mat-menu #songMenu="matMenu" class="item-menu" xPosition="before" yPosition="above" overlapTrigger="true">
				<a mat-menu-item (click)="add(entry.path)">
					<mat-icon fontIcon="mdi-plus"></mat-icon>
					<span class="item-menu-label">Add to Queue</span>
				</a>
				<a mat-menu-item [matMenuTriggerFor]="songPlaylistsMenu">
					<mat-icon fontIcon="mdi-playlist-plus"></mat-icon>
					<span class="item-menu-label">Add to Playlist</span>
				</a>
			</mat-menu>
			<mat-menu #songPlaylistsMenu="matMenu" class="item-menu">
				<a mat-menu-item (click)="openNewPlaylistDialog(entry.path)">
					<mat-icon fontIcon="mdi-playlist-edit"></mat-icon>
					<span class="item-menu-label">New Playlist</span>
				</a>
				<a mat-menu-item *ngFor="let playlist of playlists" (click)="addPlaylist(entry.path, playlist.name)">
					<mat-icon fontIcon="mdi-playlist-music"></mat-icon>
					<span class="item-menu-label">{{ playlist.name }}</span>
				</a>
			</mat-menu>
		</mat-card>
	</ng-container>
</virtual-scroller>
