<NestedScrollView orientation="vertical" class="scroll">
	<FlexboxLayout flexDirection="column" class="flex">
		<ng-container *ngIf="stored.length > 0">
			<Label class="category-label" text="Playlists" textWrap="false"></Label>
			<RadListView height="250" [items]="stored" class="nt-list-view layout">
				<ListViewGridLayout tkListViewLayout scrollDirection="Horizontal" spanCount="1"></ListViewGridLayout>
				<ng-template tkListItemTemplate let-playlist="item">
					<CardView class="card">
						<GridLayout rows="35, *, 34" columns="*">
							<Label class="item-name" row="0" col="0" [text]="playlist.name" textWrap="false" [nsRouterLink]="['/library/playlists', playlist.name]"></Label>
							<GridLayout rows="76, 76" columns="76, 76" class="art" row="1" col="0" [nsRouterLink]="['/library/playlists', playlist.name]">
								<app-album-art *ngFor="let album of playlist.items; let i = index; let o = odd" [row]="i < 2 ? 0 : 1" [col]="o ? 0 : 1" [artist]="album.artist" [album]="album.title" [size]="[76, 76]" [large]="true" [margin]="false"></app-album-art>
							</GridLayout>
							<FAB class="mdi play-button" row="1" col="0" text="&#xF40A;" (tap)="playlistPlay(playlist.name)"></FAB>
							<Button #menu class="mdi menu-button" row="2" col="0" text="&#xF1D9;"></Button>
						</GridLayout>
					</CardView>
				</ng-template>
			</RadListView>
		</ng-container>

		<ng-container *ngIf="artists.length > 0">
			<Label class="category-label" text="Artists" textWrap="false"></Label>
			<RadListView height="250" [items]="artists" class="nt-list-view layout">
				<ListViewGridLayout tkListViewLayout scrollDirection="Horizontal" spanCount="1"></ListViewGridLayout>
				<ng-template tkListItemTemplate let-artist="item">
					<CardView class="card">
						<GridLayout rows="35, *, 34" columns="*">
							<Label class="item-name" row="0" col="0" [text]="artist" textWrap="false" [nsRouterLink]="['/library/artists', artist]"></Label>
							<app-album-art row="1" col="0" [artist]="artist" [size]="[152, 152]" [large]="true" [margin]="true"></app-album-art>
							<FAB class="mdi play-button" row="1" col="0" text="&#xF40A;" (tap)="play('Artist', artist)"></FAB>
							<Button #menu class="mdi menu-button" row="2" col="0" text="&#xF1D9;" (tap)="openPlaylistMenu('Artist', artist, menu)"></Button>
						</GridLayout>
					</CardView>
				</ng-template>
			</RadListView>
		</ng-container>

		<ng-container *ngIf="genres.length > 0">
			<Label class="category-label" text="Genres" textWrap="false"></Label>
			<RadListView height="250" [items]="genres" class="nt-list-view layout">
				<ListViewGridLayout tkListViewLayout scrollDirection="Horizontal" spanCount="1"></ListViewGridLayout>
				<ng-template tkListItemTemplate let-genre="item">
					<CardView class="card">
						<GridLayout rows="35, *, 34" columns="*">
							<Label class="item-name" row="0" col="0" [text]="genre.name" textWrap="false" [nsRouterLink]="['/library/genres', genre.name]"></Label>
							<GridLayout rows="76, 76" columns="76, 76" class="art" row="1" col="0" [nsRouterLink]="['/library/genres', genre.name]">
								<app-album-art *ngFor="let album of genre.items; let i = index; let o = odd" [row]="i < 2 ? 0 : 1" [col]="o ? 0 : 1" [artist]="album.artist" [album]="album.title" [size]="[76, 76]" [large]="true" [margin]="false"></app-album-art>
							</GridLayout>
							<FAB class="mdi play-button" row="1" col="0" text="&#xF40A;" (tap)="play('Genre', genre.name)"></FAB>
							<Button #menu class="mdi menu-button" row="2" col="0" text="&#xF1D9;" (tap)="openPlaylistMenu('Genre', genre.name, menu)"></Button>
						</GridLayout>
					</CardView>
				</ng-template>
			</RadListView>
		</ng-container>

		<StackLayout class="album-container" *ngIf="albums.length > 0">
			<Label class="category-label" text="Albums" textWrap="false"></Label>
			<app-album-list [search]="true" [songs]="albums" class="album-scroll"></app-album-list>
		</StackLayout>
	</FlexboxLayout>
</NestedScrollView>
