<div
	#wrapper
	class="art-wrapper"
	[ngStyle]="{ 'width.px': size[0] + (margin ? 20 : 0), 'height.px': size[1] + (margin ? 10 : 0), 'font-size.px': size[1] }"
>
	<div #art [ngStyle]="{ 'background-image': src, 'width.px': size[0], 'height.px': size[1], 'margin-top.px': (margin ? 5 : 0), 'margin-bottom.px': (margin ? 5 : 0), 'margin-left.px': (margin ? 10 : 0), 'margin-right.px': (margin ? 10 : 0) }"></div>
	<div #fallback class="fallback-art mdi" [ngStyle]="{ 'width.px': size[0], 'height.px': size[1], 'margin-top.px': (margin ? 5 : 0), 'margin-bottom.px': (margin ? 5 : 0), 'margin-left.px': (margin ? 10 : 0), 'margin-right.px': (margin ? 10 : 0) }"></div>
</div>
