<GridLayout rows="auto" columns="auto">
	<Image #placeholder row="0" col="0" class="mdi" [width]="size[0]" [height]="size[1]" [margin]="margin ? 5 : 0" stretch="aspectFit"></Image>
	<ImageCacheIt #fallback row="0" col="0" [width]="size[0]" [height]="size[1]" [margin]="margin ? 5 : 0" [decodedWidth]="size[0]" [decodedHeight]="size[1]" stretch="aspectFit"></ImageCacheIt>
	<ImageCacheIt #image row="0" col="0" [width]="size[0]" [height]="size[1]" [margin]="margin ? 5 : 0" [decodedWidth]="size[0]" [decodedHeight]="size[1]" stretch="aspectFit"></ImageCacheIt>
</GridLayout>
