<ActionBar title="GINGER">
	<NavigationButton icon="font://&#xf013;" class="mdi"></NavigationButton>
	<ActionItem icon="font://&#xf013;" class="mdi"></ActionItem>
</ActionBar>
<RadSideDrawer #sidebar>
	<StackLayout tkDrawerContent>
		<ListView [items]="sideLinks" class="nt-list-view sidelinks" [itemTemplateSelector]="templateSelector">
			<ng-template nsTemplateKey="header" let-item="item" let-i="index">
				<DockLayout stretchLastChild="true">
					<Label class="mdi h2" [text]="item.icon" dock="left" textWrap="false"></Label>
					<Label class="h2" [text]="item.title" textWrap="false"></Label>
				</DockLayout>
			</ng-template>

			<ng-template nsTemplateKey="link" let-item="item" let-i="index">
				<DockLayout class="p-l-25" [nsRouterLink]="[item.path]" nsRouterLinkActive="active" stretchLastChild="true">
					<Label class="mdi h3" [text]="item.icon" dock="left" textWrap="false"></Label>
					<Label class="h3" [text]="item.title" textWrap="false"></Label>
				</DockLayout>
			</ng-template>
		</ListView>
	</StackLayout>
	<DockLayout tkMainContent stretchLastChild="true">
		<app-playback dock="bottom"></app-playback>
		<page-router-outlet actionBarVisibility="never"></page-router-outlet>
	</DockLayout>
</RadSideDrawer>
