@import "../../theme.base";
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";


app-root {
	display: inline-block;
	height: 100%;
	width: 100%;
}

header {
	position: relative;
	height: 64px;
}

footer {
	position: relative;
	height: 74px;
}

main.container {
	position: relative;
	height: calc(100% - 64px - 74px);

	.sidebar-container {
		flex: 1;
		height: 100%;

		.mat-drawer {
			min-width: 25%;
			max-width: 60%;

			::ng-deep .mat-expanded .mat-expansion-panel-content {
				height: min-content !important;

				.mat-list-item {
					visibility: visible !important;
				}
			}

			.active {
				// background-color: #6666660A;
				background-color: mat-color($default-accent);
			}
		}
	}

	.mat-icon {
		font-size: 24px;
		margin-right: 10px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


@include mobile {
	.sidebar-container {
		flex: 1 0 auto;
	}
}
