/* Add mobile styles for the component here.  */
RadSideDrawer .nav-label {
	font-size: 16;
	padding: 10 25;
}

.nav-logo {
	width: 48;
	height: 48;
	margin: 0 10 0 0;
}

.title {
	font-size: 24;
	vertical-align: center;
}

.search {
	font-size: 20;
	vertical-align: center;
}
