<app-navbar (toggleSidebar)="sidebar.sideDrawer.toggleDrawerState()"></app-navbar>
<RadSideDrawer #sidebar>
	<StackLayout tkDrawerContent>
		<Accordion class="links" [items]="links" allowMultiple="false" [selectedIndexes]="openHeader">
			<ng-template let-header="item" acTemplateKey="title">
				<DockLayout stretchLastChild="true">
					<Label dock="left" class="mdi header-icon" [text]="header.icon" textWrap="false"></Label>
					<Label class="header-title" [text]="header.title" textWrap="false"></Label>
				</DockLayout>
			</ng-template>

			<ng-template let-link="item" acTemplateKey="content">
				<DockLayout stretchLastChild="true" [nsRouterLink]="[link.path]" nsRouterLinkActive="active" (tap)="sidebar.nativeElement.closeDrawer()">
					<Label dock="left" class="mdi link-icon" [text]="link.icon" textWrap="false"></Label>
					<Label class="link-title" [text]="link.title" textWrap="false"></Label>
				</DockLayout>
			</ng-template>
		</Accordion>
	</StackLayout>
	<DockLayout tkMainContent stretchLastChild="true">
		<app-playback dock="bottom"></app-playback>
		<page-router-outlet actionBarVisibility="never"></page-router-outlet>
	</DockLayout>
</RadSideDrawer>
