<ActionBar>
	<StackLayout orientation="horizontal" horizontalAlignment="left">
		<Image class="nav-logo" src="res://ginger_mono" stretch="aspectFit" (tap)="drawer.sideDrawer.toggleDrawerState()" ></Image>
		<Label *ngIf="!searchVisible" class="title" text="Connect" ></Label>
		<TextField *ngIf="searchVisible" class="search" hint="Enter a query..." (loaded)="setSearchField($event)" (returnPress)="search($event)" ></TextField>
	</StackLayout>
	<ActionItem class="mdi" icon="font://󰍉" (tap)="toggleSearch()" android.position="actionBar" ios.position="right" ></ActionItem>
</ActionBar>
<RadSideDrawer #drawer>
	<GridLayout tkDrawerContent rows="auto, *, auto">
		<StackLayout row="0">
			<Label class="nav-label" text="Queue" [nsRouterLink]="['/queue']" ></Label>
			<Label class="nav-label" text="Playlists" [nsRouterLink]="['/playlists']" ></Label>
			<Label class="nav-label" text="Browse" [nsRouterLink]="['/browse']" ></Label>
		</StackLayout>
		<StackLayout row="1"></StackLayout>
		<StackLayout row="2">
			<Label class="nav-label" text="Connection" [nsRouterLink]="['connect']" ></Label>
		</StackLayout>
	</GridLayout>
	<GridLayout tkMainContent rows="*, 80">
		<page-router-outlet row="0" actionBarVisibility="never" ></page-router-outlet>
		<app-playback row="1" ></app-playback>
	</GridLayout>
</RadSideDrawer>
