/* Add mobile styles for the component here.  */
RadSideDrawer {
	.drawer {
		background-color: #424242;
		opacity: 1;
	}

	.nav-label {
		font-size: 18;
		padding: 20 35;
	}

	.active {
		font-weight: bold;
	}
}

.nav-logo {
	width: 48;
	height: 48;
	margin: 0 10 0 0;
}

.title {
	font-size: 24;
	vertical-align: center;
}

.search {
	font-size: 20;
	vertical-align: center;
	min-width: 250;
}
