/* Add mobile styles for the component here.  */
.art {
	width: 70;
	height: 70;
	font-size: 32;
}

.title {
	font-size: 18;
}

.artist {
	font-size: 16;
}

.btn {
	margin: -5;
	font-size: 24;
	width: 64;
	height: 64;
}

.info {
	width: 150;
}

.progress {
	margin: -15;
}
