/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/core/core";
@import "~@angular/material/prebuilt-themes/deeppurple-amber";


html, body {
	height: 100%;
	margin: 0;
}

.cdk-virtual-scroll-content-wrapper {
	width: 100%;
}

.mat-card-header-text {
	width: 100%;
}
