@import "~@angular/material/theming";


@include mat-core();
$default-primary: mat-palette($mat-grey, 800, 500, 900);
$default-accent:  mat-palette($mat-orange, A700, 600, 900);
$default-warn:    mat-palette($mat-pink, A400, A200, A700);
$default-theme:   mat-dark-theme($default-primary, $default-accent, $default-warn);


$primary: mat-color($default-primary, default);
$link: mat-color($default-primary, default-contrast);
$link-hover: mat-color($default-primary, darker-contrast);
$info: mat-color($default-primary, lighter-contrast);
$success: mat-color($default-accent, lighter);
$warning: mat-color($default-warn, default);
$danger: mat-color($default-warn, darker);
$dark: mat-color($default-primary, darker);
$text: mat-color($default-primary, default-contrast);
$background: $primary;
$light: mat-color($default-primary, lighter-contrast);
$dark: mat-color($default-primary, darker);

$breadcrumb-item-active-color: mat-color($default-accent, default-contrast);
$breadcrumb-item-separator-color: $link;


@mixin default-theme($theme) {
	$primary: map-get($theme, primary);
	$accent:  map-get($theme, accent);
	$warn:    map-get($theme, warn);

	.themed {
		background-color:     mat-color($primary);
		color:                mat-color($primary, default-contrast);

		a {
			color:            $link !important;

			&:hover, &:focus, &:acctive {
				color: $link-hover !important;
			}
		}

		.active {
			background-color: mat-color($accent, lighter) !important;
		}

		.mat-button-toggle:hover, .mat-button-toggle:active {
			background-color: mat-color($accent, lighter);
		}
	}
}


@include angular-material-theme($default-theme);
@include default-theme($default-theme);
@import "~bulma/bulma.sass";
